# Optional Azure Blob Storage sync
AZURE_STORAGE_CONNECTION_STRING=""
AZURE_STORAGE_CONTAINER_RAW="raw"
AZURE_STORAGE_CONTAINER_BRONZE="bronze"
AZURE_STORAGE_CONTAINER_SILVER="silver"
AZURE_STORAGE_CONTAINER_GOLD="gold"
